In [ ]:
import pymysql
pymysql.install_as_MySQLdb()

%load_ext sql
%config SqlMagic.autocommit=True

connection_string = "mysql://root:simple@127.0.0.1"

%sql $connection_string

In [25]:
%%sql
SHOW SCHEMAS

 * mysql://root:***@127.0.0.1
4 rows affected.

[('information_schema',), ('mysql',), ('performance_schema',), ('sys',)]

In [26]:
%%sql

CREATE SCHEMA IF NOT EXISTS universityofstthomas

 * mysql://root:***@127.0.0.1
1 rows affected.

[]

In [27]:
%%sql

USE universityofstthomas

 * mysql://root:***@127.0.0.1
0 rows affected.

[]

In [29]:
%%sql

CREATE TABLE Department (
    dept_id  int(4) unsigned NOT NULL,
    dept_name varchar(100),

    PRIMARY KEY(dept_id)

)

 * mysql://root:***@127.0.0.1
0 rows affected.

[]

In [32]:
%%sql

CREATE TABLE Student(
    stud_id  int unsigned NOT NULL,
    first_name  varchar(20),
    last_name  varchar(20),
    date_of_birth  date NOT NULL,
    student_email varchar(30) NOT NULL,
    PRIMARY KEY(stud_id),
 )

 * mysql://root:***@127.0.0.1
(pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ')' at line 8")
[SQL: CREATE TABLE Student(
    stud_id  int unsigned NOT NULL,
    first_name  varchar(20),
    last_name  varchar(20),
    date_of_birth  date NOT NULL,
    student_email varchar(30) NOT NULL,
    PRIMARY KEY(stud_id),
 )]
(Background on this error at: https://sqlalche.me/e/20/f405)